@mixin Myflex() {
    display: flex;
    justify-content: center;
    align-items: center;
    }

#ourHistorySection{
    width: 100%;
    height: 75vh;
    display: flex;
    padding: 0px 190px;
    .ourHistoryLeftBox{
        height: 100%;
        width: 55%;
    @include Myflex;

    .ourHistoryTextBox{
        height: 55%;
        width: 100%;
    @include Myflex;
    flex-direction: column;
    gap: 10px;  
    align-items: start;
        h1{
            margin-bottom: 30px;
            font-size: 22px;
            color: #c7ad88;
        }
        p{
            color: gray;
            max-width: 400px;
            margin-bottom: 10px;
        }
    }
    }
    .ourHistoryRightBox{
        height: 100%;
        width: 45%;
    @include Myflex;
        
        .centerBox{
            height: 60%;
            width: 100%;
            display: flex;
            justify-content: space-between;
            position: relative;
            .centeBoxLine{
                width: 92%;
                height: 90%;
                border: 2px solid  #c7ad88;
                position: absolute;
                top: 15px;
                left: 20px;
            }
            .leftImgBox{
                height: 100%;
                width: 47%;
                background-image: url(https://nunforest.com/restory-demo/upload/others/a1@2x.jpg);
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }
            .rightImgBox{
                height: 100%;
                width: 47%;
                background-image: url(https://nunforest.com/restory-demo/upload/others/a2@2x.jpg);
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }
        }
    }
}